
   <div><label for="title">Title:</label>
    <input type="text" name="title" value="<%=writtenWork.title%>"></div> 
    <div><label for="publishDate">Publish Date:</label>
    <input type="date" name="publishDate" 
            value="<%=writtenWork.publishDate == null ? '' : writtenWork.publishDate.toISOString().split('T')[0]%>"></div>
    <div><label for="pageCount">Page Count:</label>
    <input type="number" name="pageCount" min="1" value="<%=writtenWork.pageCount%>"></div>
    <div><label for="cover">CoverPage:</label>
    <input type="file" name="cover" class="filepond"></div>
    <div><label for="description">Description:</label>
        <textarea type="text" name="description"><%=writtenWork.description%></textarea></div> 
    <div></div><label for="author">Author:</label>
    <select name="author">
    <% authors.forEach(author=>{ %>
        <% if(author.id === writtenWork.author) {%>
            <option selected label="<%= author.name %>" value="<%= author.id %>">
            <% console.log("author name selected : ",author.name)}else{console.log("author name else : ",author.name)%>
            <option label="<%= author.name %>" value="<%= author.id %>">
                    <% } %>
                    <% }) %>
    </select></div>

    <!-- <label for="lastName" name="lastName">last name:</label> -->
    <!-- <input type="text"/> -->