<h2>Search WrittenWorks</h2>
<form action="/writtenWorks" method="get">
<div>
    <label >Title</label>
    <input type="text" name="title" value="<%= searchOptions.title %>">
</div>
<div>
    <label >Published After</label>
    <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
</div>
<div>
    <label >Published Before</label>
    <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
</div>
    <button type="submit">Search</button>
</form>
<br>
<div>
 <%console.log("hello") 
 writtenWorks.forEach(written=>{ %>
    <a href="/writtenWorks/<%= written.id %>">
    <img height="150" width="100" src="<%= written.coverImagePath %>" alt="Written work image">
</a>
<% }) %> 
</div>
